                <div class="row-fluid span12 form_sec" style="margin-left:0">
                        <div id="fwslider">
                            <div class="slider_container">
                                <div class="slide"> 
                                    <!-- Slide image -->
                                        <img src="img/banner.jpg" alt=""/>
                                    <!-- /Slide image -->
                                    <!-- Texts container -->
                                    <div class="slide_content">
                                        <div class="slide_content_wrap">
                                            <!-- Text title -->
                                            <h4 class="title">Aluminium Club</h4>
                                            <!-- /Text title -->

                                            <!-- Text description -->
                                            <p class="description">Experiance ray ban</p>
                                            <!-- /Text description -->
                                        </div>
                                    </div>
                                     <!-- /Texts container -->
                                </div>
                                <!-- /Duplicate to create more slides -->
                                <div class="slide">
                                    <img src="img/banner1.jpg" alt=""/>
                                    <div class="slide_content">
                                        <div class="slide_content_wrap">
                                            <h4 class="title">consectetuer adipiscing </h4>
                                            <p class="description">diam nonummy nibh euismod</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/slide -->
                            </div>
                            <div class="timers"></div>
                            <div class="slidePrev"><span></span></div>
                            <div class="slideNext"><span></span></div>
                        </div>    
             </div>
                    <div id="Test" class="container">
            <div class="row-fluid span12 form_sec">    
                </div>
                    <div class="row-fluid span12 form_sec">
                        <div class="row-fluid span12 form_sec">
                            <div class="row-fluid span3 top1">
                                <img alt="" src="img/icon1.png">
                                <a href="#"><h3>services</h3></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.</p>
                            </div>
                             <div class="row-fluid span3 top1">
                                <img alt="" src="img/icon2.png">
                                <a href="#"><h3>user profiles</h3></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.</p>
                            </div>
                             <div class="row-fluid span3 top1">
                                <img alt="" src="img/icon3.png">
                                <a href="#"><h3>get in touch</h3></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid span12 form_sec">
                        <h1 class="row-fluid span12 h1_tag">About Sam Shop</h1>
                        <div class="row-fluid  span12 top2">
                            <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
                            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis 
                            nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie 
                            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                            luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option 
                            congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus 
                            legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica,
                            quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                            Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                            </p>
                        </div>
                    </div>